*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
}

#products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb( 166, 103, 27);
    justify-content: center;
}

